.wrapper {
    background-color: #02160b;
    background-image: url('../img/main.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    min-height: 779px;
}

@media (min-resolution: 1.5dppx) {
    .wrapper {
    background: url('../img/main@2x.jpg') no-repeat 0 0;
    background-size: cover;
    }
}

.wrapper-bkg {
    background-color: #02160b;
}