$font: "Montserrat", "Helvetica", "Arial", sans-serif;

$white: #F7F7F7;
$orange: #CD6326;
$brown: #8F5613;
$brown-light: #E39128;
$bkg-grey:#CCCCCC;
$bkg-bottom: #181617;
$font-dark: #333333;
$font-sub: #666666;



$mobile-width: 433px;

$tablet-width: 768px;

$desktop-width: 1200px;

$big-desktop-width: 1440px;